.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-container {
  width: 100%; /* Default width for extra small screens */
}

@media (min-width: 576px) {
  .custom-container {
    width: 66.67%; /* 8/12 width for small screens and up */
  }
}

@media (min-width: 768px) {
  .custom-container {
    width: 50%; /* 6/12 width for medium screens and up */
  }
}

@media (min-width: 992px) {
  .custom-container {
    width: 41.67%; /* 5/12 width for large screens and up */
  }
}


