.button-div {
  display: flex;
  justify-content: flex-end;
}

.calculate-aliquots-btn {
  font-size: 0.7em !important;
  font-weight: 600 !important;
  width: auto;
  height: auto;
  padding: 0.3em 0.7em !important;
  margin-bottom: 0.4em;
  /* box-shadow: 0 1px 3px lightgray; */
}

/* .calculate-aliquots-btn:hover {
  background: linear-gradient(145deg, #495057, #343a40);
}

.calculate-aliquots-btn:active {
  background: linear-gradient(145deg, #343a40, #212529);
} */
