.label-container {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

.label-container:hover {
  box-shadow: 0 1px 8px rgba(202, 202, 202, 0.4);
}

.label-title {
  margin-left: 0.1em;
}

.aliquots-title {
  font-size: 0.9em;
  margin-left: 0.1em;
}

.add-aliquot-btn {
  margin-bottom: 0.18em;
  height: 1.9em;
}